.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.riego-form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #2ecc71; /* Verde */
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit-button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #2ecc71; /* Verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #27ae60; /* Verde más oscuro */
}

.cancel-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #2ecc71; /* Verde */
    background-color: white;
    border: 1px solid #2ecc71; /* Verde */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #eaf8ea; /* Fondo verde claro */
}
