.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url('https://i.pinimg.com/736x/38/ac/5f/38ac5f067cef912eab83854ebca1353d.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir el formulario */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; /* Texto en negritas */
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
    padding: 5px;
    border-radius: 5px;
    font-weight: bold; /* Texto en negritas */
}

.input-field {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #2ecc71; /* Verde */
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.submit-button, .cancel-button {
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 48%;
}

.submit-button {
    background-color: #2ecc71; /* Verde */
    color: white;
    border: none;
}

.submit-button:hover {
    background-color: #27ae60; /* Verde más oscuro */
}

.cancel-button {
    background-color: white;
    color: #2ecc71; /* Verde */
    border: 1px solid #2ecc71; /* Verde */
}

.cancel-button:hover {
    background-color: #eaf8ea; /* Fondo verde claro */
}

.error-message {
    background-color: rgba(255, 0, 0, 0.3); /* Fondo rojo semi-transparente */
    color: rgb(0, 0, 0); /* Texto rojo */
    font-weight: bold; /* Texto en negritas */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
