/* Estilos específicos para el formulario de login */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Asegura que ocupe toda la altura de la página */
    background-color: #f4f4f4;
    margin: 0; /* Elimina márgenes por defecto */
}

.login-container {
    position: relative;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el formulario */
    z-index: 2;
  }
  
.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://v1.pinimg.com/videos/mc/720p/b8/52/cc/b852cc21db569eb4df1c2719e9010649.mp4') no-repeat center center;
    background-size: cover;
    z-index: 1;
}
  
form {
    position: relative;
    z-index: 2; /* Asegura que el formulario esté encima del video */
}
  

h2 {
    color: #2a2a2a;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    color: #2ecc71; /* Verde */
    font-size: 20px;
    position: absolute;
    left: 12px; /* Posición a la izquierda */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente el icono */
}

.input-field {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Espacio extra para el icono */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #eaf8ea; /* Fondo verde claro */
    position: relative; /* Para que el icono se posicione dentro */
}

.input-field:focus {
    outline: none;
    border-color: #2ecc71; /* Verde */
    background-color: #ffffff;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #2ecc71; /* Verde */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #27ae60; /* Verde más oscuro */
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .input-field {
        padding: 10px 10px 10px 30px; /* Ajuste del padding para el icono */
    }

    .submit-button {
        padding: 10px;
    }
}
