.table-container {
    padding: 20px;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent; /* Fondo transparente */
    background-image: url('https://i.pinimg.com/736x/51/ef/e9/51efe98693636de06063d154e44c9f85.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente pero con opacidad para mejorar la legibilidad */
}

.styled-table th {
    background-color: rgba(46, 204, 113, 0.7); /* Verde con transparencia */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.styled-table tbody tr:nth-child(even) {
    background-color: rgba(234, 248, 234, 0.7); /* Verde claro con opacidad */
}

.styled-table tbody tr:hover {
    background-color: rgba(208, 240, 214, 0.7); /* Verde más suave con opacidad */
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination button {
    background-color: rgba(46, 204, 113, 0.7); /* Verde con transparencia */
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.pagination button:hover {
    background-color: rgba(39, 174, 96, 0.7); /* Verde más oscuro con transparencia */
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.styled-table .action-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.styled-table .action-btns button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.styled-table .action-btns .edit-btn {
    background-color: rgba(46, 204, 113, 0.7); /* Verde con transparencia */
    color: white;
}

.styled-table .action-btns .edit-btn:hover {
    background-color: rgba(39, 174, 96, 0.7); /* Verde más oscuro con transparencia */
}

.styled-table .action-btns .delete-btn {
    background-color: rgba(12, 43, 6, 0.7); /* Azul con transparencia */
    color: white;
}

.styled-table .action-btns .delete-btn:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Negro con transparencia */
}
